@model Behavior.Models.CounterViewModels.CounterViewModel

@{
    ViewData["Title"] = "Counter";
}

<form asp-action="View">

    <div class="row">
        <div class="col-xs-8 text-right">
            <h2 class="studentFullNameLbl"></h2>
        </div>
        <div class="col-xs-4">
            <br />
            <a asp-controller="Firebase" asp-action="UpdateStudent" asp-route-id="@Model.student.ID" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-edit"></span>Edit</a>
        </div>
    </div>
    <div class="row top-buffer">

        <div class="col-xs-12 text-center">
            <h3>Count: <kbd class="counterLbl counterLbl-lg"></kbd></h3>
        </div>
    </div>
    <div class="row top-buffer">

        <div class="col-xs-12">
            <button type="button" id="countUp" class="btn btn-danger btn-lg btn-block counterBtn glyphicon glyphicon-plus"></button>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-xs-12">
            <button type="button" id="countDown" class="btn btn-default btn-lg btn-block counterBtn glyphicon glyphicon-minus"></button>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-xs-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="submit" value="Save" class="btn btn-default btn-lg btn-block" />
        </div>
    </div>

</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        var fireBaseRef, currCounter, student;
            fireBaseRef = behavior.firebase;
        
            fireBaseRef.init(function (initComplete) {
                if (initComplete) {
                    currCounter = behavior.counter;
                    student = behavior.student;
                    currCounter.init();
                    student.init(fireBaseRef.database);
                    student.getStudentById("@Model.student.ID", function (student) {
                        $(".studentFirstNameLbl").text(student.firstName);
                        $(".studentLastNameLbl").text(student.lastName);
                        $(".studentFullNameLbl").text(student.firstName + " " + student.lastName);
                    });
                }
        });

        

    </script>
}
