@{
    ViewData["Title"] = "Behaviors";
}

<div class="row">
    <div class="col-sm-12">
        <div class="list-group" id="studentsList">
            <button type="button" class="list-group-item disabled">Students</button>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var fireBaseRef = behavior.firebase;
        fireBaseRef.init(function (initComplete) {
            if (initComplete) {
                fireBaseRef.getListOfStudents(function (students) {
                    for (var key in students) {
                        var student = students[key];
                        var listButton = $('<a/>',
                        {
                            href: "/Home/Counter/" + key,
                            text: student.lastName + ', ' + student.firstName
                        }).addClass('list-group-item');
                        
                        $('#studentsList').append(listButton);

                    }
                });
            }
        });
    </script>
}