@{
    ViewData["Title"] = "Behaviors";
}

<div class="row">
    <div class="col-sm-12">
        <div class="list-group" id="studentsList">
            <button type="button" class="list-group-item disabled" >Students</button>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var behaviorList;
        behavior.firebase.init(function (initComplete) {
            if (initComplete) {
                behavior.firebase.getListOfStudents(function (students) {
                    for (var key in students) {
                        var student = students[key];
                        var listButton = $('<a/>',
                        {
                            href: "#",
                            text: student.lastName + ', ' + student.firstName
                        }).addClass('list-group-item')
                            .attr("data-toggle", "modal")
                            .attr("data-target", "#myModal")
                            .attr("data-studentkey", key)
                            .attr("data-studentname", student.lastName + ', ' + student.firstName);
                        
                        $('#studentsList').append(listButton);

                    }
                });

                behavior.firebase.getListOfBehaviors(function (behaviors) {

                    behaviorList = behaviors;
                });
            }
        });
        
        $(document).on('change', 'select',  function () {
            var studentKey = $(this)[0].id.replace('Behaviors', '');
            $('#startSession' + studentKey)[0].href = $('#startSession' + studentKey)[0].href.split(/[?#]/)[0];
            $('#startSession' + studentKey)[0].href += "?behavior=" + $(this).val();
            
        });

        $('#myModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var studentKey = button.data('studentkey');
            var studentName = button.data('studentname');
            var modal = $(this);
            modal.find('.modal-title').text(studentName);
            
            var behaviorSelect = $('<select/>',
                {
                    name: "Behaviors" + studentKey,
                    id: "Behaviors" + studentKey

                }).addClass('form-control');
            
            for (var key in behaviorList) {
                var behavior = behaviorList[key];
                var option = $('<option/>',
                {
                    text: behavior.Name,
                    value: key,
                });

                behaviorSelect.append(option);
            }

            var startSessionButton = $('<a/>',
                {
                    id: "startSession" + studentKey,
                    href: "/Home/Counter/" + studentKey,
                    text: "Start Count Session"
                }).addClass('btn btn-primary').attr("role", "button");
            
            modal.find('.modal-body').empty();
            modal.find('.modal-body').append(behaviorSelect).append('<br />').append(startSessionButton);
            behaviorSelect.trigger('change');
            
        })
    </script>
}