@model Behavior.Models.FirebaseViewModels.UpdateStudentViewModel

@{
    ViewData["Title"] = "UpdateStudent";
}

<a asp-controller="Home" asp-action="Counter" asp-route-id="@Model.id" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span>Back to Counter</a>
<h2>Update Student</h2>

<form asp-action="UpdateStudent">
    <div class="form-horizontal">
        <hr />
        <input type="hidden" asp-for="id">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="FirstName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Age" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @*<input type="submit" value="Create" class="btn btn-default" />*@
                <button type="button" id="updateStudent" class="btn btn-default btn-lg">Update Student</button>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        var fireBaseRef = behavior.firebase;
        var student;
        fireBaseRef.init(function (initComplete) {
            if (initComplete) {
                student = behavior.student;
                student.init(fireBaseRef.database);
                student.getStudentById("@Model.id", function (student) { 
                    $("input#FirstName").val(student.firstName);
                    $("input#LastName").val(student.lastName);
                    $("input#Age").val(student.age);
                });
            }
        });
    </script>
}
